/vendor/
/node_modules/
composer.lock
package-lock.json
.phpunit.result.cache
.php_cs.cache
.php-cs-fixer.cache
.DS_Store
Thumbs.db
*.swp
*.swo
*~
.idea/
.vscode/
.env
.env.backup
.phpunit.cache
build/
.coverage
.phpunit.cache
